.game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    margin-top: 180px;
    margin-bottom: 80px;
}

@media (max-width: 450px) {
    .game-board {
        grid-template-columns: repeat(4, 60px);
        gap: 8px;
        max-width: 260px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;
    }
}

@media (max-width: 900px) {
    .game-board {
        grid-template-columns: repeat(3, 80px);
        gap: 10px;
        margin-bottom: 130px;
    }
}