.game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 15px;
    margin-top: 110px;
    margin-bottom: 90px;
}

#timerDisplay {
    font-size: 25px;
    font-weight: bold;
    color: #78350f;
    text-align: left;
    position: fixed;
    top: 20px;
    left: 30px;
    background: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

@media (max-width: 900px) {
    .game-board {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 150px;
        margin-bottom: 110px;
    }
}

@media (max-width: 450px) {
    .game-board {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 70px;
        margin-top: 130px;
    }
}